In [1]:
import cudf

In [2]:
df = cudf.read_parquet('../data/american_stories_1938_1945.parquet')

In [3]:
!nvidia-smi

Fri Feb  7 20:29:59 2025
+-----------------------------------------------------------------------------------------+
| NVIDIA-SMI 550.90.07              Driver Version: 550.90.07      CUDA Version: 12.4     |
|-----------------------------------------+------------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id          Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |           Memory-Usage | GPU-Util  Compute M. |
|                                         |                        |               MIG M. |
|=========================================+========================+======================|
|   0  NVIDIA RTX 5000 Ada Gene...    Off |   00000000:01:00.0 Off |                  Off |
| 30%   32C    P2             55W /  250W |    5175MiB /  32760MiB |      7%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+

+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI        PID   Type   Process name                              GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|    0   N/A  N/A      2098      G   /usr/lib/xorg/Xorg                            350MiB |
|    0   N/A  N/A      2533      G   /usr/bin/gnome-shell                          181MiB |
|    0   N/A  N/A      3238      G   ...erProcess --variations-seed-version        243MiB |
|    0   N/A  N/A      4580      C   ...y/anaconda3/envs/cuda124/bin/python       4360MiB |
+-----------------------------------------------------------------------------------------+

In [4]:
df.head(1)

,article_id,newspaper_name,edition,date,page,headline,byline,article
0,1_1938-11-08_p3_sn82014085_00393347429_1938110...,The Waterbury Democrat.,01,1938-11-08,p3,Fear Heavy Toll Among Civilians In Next Conflict,,Recognition of a probable heavy toll among non...

In [5]:
df = df.drop('article_id', axis=1)
df

,newspaper_name,edition,date,page,headline,byline,article
0,The Waterbury Democrat.,01,1938-11-08,p3,Fear Heavy Toll Among Civilians In Next Conflict,,Recognition of a probable heavy toll among non...
1,The Waterbury Democrat.,01,1938-11-08,p3,,,"Conforming to tradition, the Democratic candid..."
2,The Waterbury Democrat.,01,1938-11-08,p3,Audience Thrilled By\n\n Early Masters Works\n...,,second by Kasper Ferdinand Fisch- CT.\n\n FOlk...
3,The Waterbury Democrat.,01,1938-11-08,p3,Democrats Institute Court Action T oday\n\n To...,,in behalf of Charles Maloney of Se4 East Main ...
4,The Waterbury Democrat.,01,1938-11-08,p3,q WOMEN SEEK\n\n ELECTION JOBS\n\nNone Candida...,BY RUBY A. BLACK nifAd preea Sfaff Corresnovad...,NUnlte0 freSS Stam COrreSpOn0ent)\n\n Washingt...
...,...,...,...,...,...,...,...
4368783,Detroit evening times.,01,1945-12-05,p7,,,Here's a contest you win! And what prize!\nA b...
4368784,Evening star.,01,1945-04-18,p35,"ADVERTISEMENT,\n\nADNL n lSLhLt>1\nTorment OF ...",,II you can't get your feet of your mind\nbecau...
4368785,Evening star.,01,1945-04-18,p35,Jury Rules Chaplin\nIs.Father;; Conference\nOn...,By the Associated Press.,"By the Associated Press.\n\n\nLOS ANGELES, Apr..."
4368786,Evening star.,01,1945-04-18,p35,Use Your\nBeIdqet Account,,"It's easy as A-B-C to open a\nCharge, Budget o..."
4368787,Evening star.,01,1945-04-18,p35,Verdict for Defendant,,A District Court jury yesterday\nreturned a ve...

In [6]:
df = df.dropna(subset=['byline'])
len(df)

4368788

In [7]:
df = df.replace('', cudf.NA)

In [8]:
df.isnull().sum()

newspaper_name          0
edition                 0
date                    0
page                    0
headline          1490841
byline            3793740
article                 0
dtype: int64

In [9]:
df = df.dropna(subset=['byline'])
len(df)

575048

In [10]:
df

,newspaper_name,edition,date,page,headline,byline,article
4,The Waterbury Democrat.,01,1938-11-08,p3,q WOMEN SEEK\n\n ELECTION JOBS\n\nNone Candida...,BY RUBY A. BLACK nifAd preea Sfaff Corresnovad...,NUnlte0 freSS Stam COrreSpOn0ent)\n\n Washingt...
29,Evening star.,01,1938-07-18,p21,CITY NEWS IN BRIEF.,TODAY.,"TO-DAY.\n\n\nExcursion, st. Elizabeth's Hospit..."
34,Evening star.,01,1938-07-18,p21,u. S. LYNCHING STUDY\n\n\nis URGED BY LUDLOW\n...,roDAY's PROGRAM,Citing recent lynchings in Missis-\nsippi and ...
37,Evening star.,01,1938-07-18,p21,"DIES IN MILWAUKEE,\n\nMrs. Margaret Diederich ...","July lS, 1898","MILWAUKEE,, July 18 R.-Mrs.\nMargaret Diederic..."
38,Evening star.,01,1938-07-18,p21,ARMY PAY RAISE\nMOVE |NJENS|F|E led\nSoldiers ...,BY the Associated Press.,BY the Associated Press.\n\n\nThe fact that th...
...,...,...,...,...,...,...,...
4368720,The Waterbury Democrat.,01,1945-10-04,p6,OUR BIRTH RATE,(Boston Post),(B0Ston Post)\n\n Census department figures sh...
4368722,The Waterbury Democrat.,01,1945-10-04,p6,BOSTON SYMPHONY,(Boston Post),t6OStOIl EOStl\n\n Boston has good reason to b...
4368728,The Waterbury Democrat.,01,1945-10-04,p6,Waterbury of The Past,25 Years Ago,25 Years Ago Sacred Heart Church's Holy Name S...
4368764,Evening star.,01,1945-11-24,p20,AUCTION SALES.,FUTURE.,"THOS. J. OWEN & Son, auctioneers 435\nSn SSou1..."
4368785,Evening star.,01,1945-04-18,p35,Jury Rules Chaplin\nIs.Father;; Conference\nOn...,By the Associated Press.,"By the Associated Press.\n\n\nLOS ANGELES, Apr..."

In [12]:
# Convert date column to datetime 
df['date'] = cudf.to_datetime(df['date'])
df

,newspaper_name,edition,date,page,headline,byline,article
4,The Waterbury Democrat.,01,1938-11-08,p3,q WOMEN SEEK\n\n ELECTION JOBS\n\nNone Candida...,BY RUBY A. BLACK nifAd preea Sfaff Corresnovad...,NUnlte0 freSS Stam COrreSpOn0ent)\n\n Washingt...
29,Evening star.,01,1938-07-18,p21,CITY NEWS IN BRIEF.,TODAY.,"TO-DAY.\n\n\nExcursion, st. Elizabeth's Hospit..."
34,Evening star.,01,1938-07-18,p21,u. S. LYNCHING STUDY\n\n\nis URGED BY LUDLOW\n...,roDAY's PROGRAM,Citing recent lynchings in Missis-\nsippi and ...
37,Evening star.,01,1938-07-18,p21,"DIES IN MILWAUKEE,\n\nMrs. Margaret Diederich ...","July lS, 1898","MILWAUKEE,, July 18 R.-Mrs.\nMargaret Diederic..."
38,Evening star.,01,1938-07-18,p21,ARMY PAY RAISE\nMOVE |NJENS|F|E led\nSoldiers ...,BY the Associated Press.,BY the Associated Press.\n\n\nThe fact that th...
...,...,...,...,...,...,...,...
4368720,The Waterbury Democrat.,01,1945-10-04,p6,OUR BIRTH RATE,(Boston Post),(B0Ston Post)\n\n Census department figures sh...
4368722,The Waterbury Democrat.,01,1945-10-04,p6,BOSTON SYMPHONY,(Boston Post),t6OStOIl EOStl\n\n Boston has good reason to b...
4368728,The Waterbury Democrat.,01,1945-10-04,p6,Waterbury of The Past,25 Years Ago,25 Years Ago Sacred Heart Church's Holy Name S...
4368764,Evening star.,01,1945-11-24,p20,AUCTION SALES.,FUTURE.,"THOS. J. OWEN & Son, auctioneers 435\nSn SSou1..."
4368785,Evening star.,01,1945-04-18,p35,Jury Rules Chaplin\nIs.Father;; Conference\nOn...,By the Associated Press.,"By the Associated Press.\n\n\nLOS ANGELES, Apr..."

In [13]:
df.info()

<class 'cudf.core.dataframe.DataFrame'>
Index: 575048 entries, 4 to 4368785
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   newspaper_name  575048 non-null  object
 1   edition         575048 non-null  object
 2   date            575048 non-null  datetime64[ns]
 3   page            575048 non-null  object
 4   headline        487072 non-null  object
 5   byline          575048 non-null  object
 6   article         575048 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 772.7+ MB

In [17]:
# Get unique years and count them
df['date'].dt.year.value_counts()

date
1941    86431
1942    79873
1938    73832
1945    72922
1939    71618
1940    65572
1943    65418
1944    59382
Name: count, dtype: int64